* {
	box-sizing: border-box;
}

.main-nav {
  display: flex;
}

.main-nav a {
  text-decoration: none;
  color: white;
}

.search-form {
	max-width: 400px;
	width: 100%;
	margin: 0 auto 40px;
	display: flex;
	justify-content: space-between;
}

.search-form .MuiInputBase-root {
	width: calc(100% - 50px);
}

.search-form input {
	padding-left: 15px;
}

.search-form button {
	width: 50px;
}

.city-details {
	padding: 30px 0;
}

.city-details-info {
	padding: 20px;
}

.text-center {
	text-align: center;	
}

.weather-details-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.weather-details-col {
	display: flex;
	align-items: center;
}

.weather-details-img {
	max-width: 120px;
}

.weather-details-img img {
	display: block;
	width: 100%;
	height: auto;
}

.weather-heading-text {
	text-align: center;
	padding: 30px 0;
}

.weather-days-wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.day-weather-item {
	display: block;
	text-align: center;	
	width: 20%;
	padding: 0 10px;	
	margin-bottom: 20px;
	border-left: 1px solid #e6e6e6;
}

.day-weather-item:first-child {
	border-left: 0;
}

.weather-day-caption {
	padding: 30px 0;
}

.weather-favorites-wrap {
	display: flex;
	flex-wrap: wrap;
	padding: 40px 0;
}

.weather-favorite-col {
	width: 25%;
	padding: 0 15px;
	margin-bottom: 30px;
}

.btn-details-wrap {
	justify-content: center;
}

.active-favorite {
	background-color: red !important;
}

.btn-details-link {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	text-transform: uppercase;
	color: inherit;
	font-weight: 600;
	margin-bottom: 10px;
}

.preloader-wrap {
	position: relative;
	min-height: 425px;
}

.preloader-ico-wrap {
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	display: none;
}

@media (max-width: 1023px) {
	.day-weather-item {
		width: 50%;
	}

	.weather-favorite-col {
		width: 50%;
	}

	.day-weather-item:nth-child(odd) {
		border-left: 0;
	}
}

@media (max-width: 767px) {
	.weather-details-img {
		max-width: 80px;
	}

	.day-weather-item {
		width: 100%;
		border-left: 0;
		border-bottom: 1px solid #e6e6e6;
	}

	.weather-favorite-col {
		width: 100%;
	}

	.MuiTypography-h5 {
		font-size: 14px;
	}

	.btn-wrap {
		justify-content: center;
		padding-top: 20px;
		width: 100%;
	}
}